    body {
      font-family: 'Georgia', serif;
      background-color: #eee5d9;
      margin: 0;
      padding: 0;
      color: #1a1a1a;
      text-align: center;
    }

    .main-header {
      width: 100%;
      padding: 20px 40px;
      background-color: #000;
      background: linear-gradient(to right, #000, #d2b68a);
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .nav-links a {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      font-size: 16px;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #ccc;
    }

    .image-option {
      width: 150px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
      border: 3px solid transparent;
      cursor: pointer;
    }

    .image-option.selected {
      border-color: #5e4e27ef;
    }

    .image-option.selected:hover {
      transform: translateY(-5px);
      animation: brilho 1s infinite alternate;
    }


    #goToSlider {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;

      @keyframes brilho {
        0% {
          box-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff;
        }

        100% {
          box-shadow: 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff;
        }

      }

    }