body {
  font-family: 'Georgia', serif;
  background-color: #eee5d9;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  text-align: center;
}
.main-header {
  width: 100%;
  padding: 20px 40px;
  background-color: #000;
  background: linear-gradient(to right, #000, #d2b68a);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ccc;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 10px 0;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.card {
  flex: 1 1 200px;
  margin: 15px;
  text-align: center;
}

.card img {
  width: 270px;
  height: 390px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 5px 0 0 0;
}
 .container {
      max-width: 1200px;
      margin: 40px auto;
      padding: 0 20px;
    }

    .post {
      display: grid;
      grid-template-columns: 45% 55%;
      gap: 20px;
      margin-bottom: 50px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 40px;
    }

    .post img {
      width: 100%;
      border-radius: 6px;
      cursor: pointer;
    }

    .post h2 {
      font-size: 2.5rem;
      font-weight: 100;
      line-height: 1.2;
    }

    .post p {
      font-size: 1.2rem;
      color: #333;
    }

